.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* Imagen del banco */
.bank-image img {
  width: 400px;
}

/* Contenido derecho */
.content {
  max-width: 500px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logo-img {
  width: 40px;
  margin-right: 8px;
}

.title {
  font-size: 22px;
}

.ub {
  font-size: 36px;
  font-weight: bold;
  color: #7d3cff;
}

.unibank {
  font-size: 20px;
  color: #444;
}

/* Descripción */
.description {
  margin: 15px 0 25px;
  color: #666;
  line-height: 1.5;
}

/* Roles */
.role-title {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.roles {
  display: flex;
  gap: 30px;
}

.role {
  text-align: center;
}

.role img {
  width: 40px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  background: #7d3cff;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  margin: 5px auto;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

.btn:hover {
  background: #682ed1;
}

/* Botón de registro */
.register-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: #7d3cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

.register-btn:hover {
  background: #682ed1;
}
